:root {
  --primary: #5c9ead;
  --primary-text: #fdffff;

  --secondary: #326273;
  --secondary-text: #e0eeee;

  --accent: #e39774;

  --action: #0e8b0e;
  --action-text: #fdffff;
  --error: #8b0e0e;
  --error-text: #fdffff;

  --shadow-color: #0001;
  --shadow: 0px 0px 8px 2px var(--shadow-color);
  --shadow-1: 1px 1px 12px 6px var(--shadow-color);
  --shadow-2: 2px 2px 16px 8px var(--shadow-color);
  --shadow-3: 2px 2px 20px 12px var(--shadow-color);
}
