.listContainer {
  width: 320px;
  box-shadow: var(--shadow);
  margin: 12px;

  .header {
    display: flex;
    height: 48px;
    align-items: center;
    padding-left: 12px;
    background-color: var(--primary);
    color: var(--primary-text);
    box-shadow: var(--shadow);
  }

  .tileContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }
}
