.header {
  display: flex;
  gap: 0px;
  background-color: var(--primary);
  height: 3rem;
  box-shadow: var(--shadow);

  a {
    padding: 1rem;
    text-decoration: none;
    color: var(--primary-text);
    margin: 0;
  }

  .activeLink {
    font-weight: 600;
    background-color: var(--secondary);
    color: var(--secondary-text);
  }
}
